@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "tailwindcss";
#root {
  max-width: 2560px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: "Manrope", sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
 background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
  background: #d87d4a;
  border-radius: 3px;
}
